*{
    margin :0;
    padding :1px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100;
}
a{
    color: inherit;
    text-decoration: none;
}

/* NavBar-Styles*/

.navbar-container{

    height: 80px;
    width: 100%;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding :0 50px;
}

.logo {
    font-weight: 900;
    font-size: 30px;
}


.nav-links > a{
    margin: 5px 10px;
    font-weight: 600;
    /*border : 1px solid white;*/
    padding:5px 10px;
    border-radius: 4px;
    transition: 0.2s;
}
.nav-links > a:hover {
    background-color: white;
    color: black;
}


.emp-card{
    
   
    border:  1px solid #ddd;
    margin: 20px;
    padding: 40px;
    background: white;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

    

}

.emp-id{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100px;
    color: #0d0647;
    gap: 50%;

}

    

header.emp-header{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 100px;
display: flex;
gap: 80%;
margin-bottom: 10px;

}


section.emp-address{
  
    gap: 5px;
    margin: 20px;
  
}
section.emp-info{
    display: flex;
  
    align-items: center;
    justify-content: space-between;
    font-weight: 50;
    margin: 5px;
   
}

section.emp-contact{
    display: flex;
    justify-content: space-between;
    gap: 50%;
    margin: 5px;

    

}


footer.emp-actions{
     margin-top: 20px;
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor : pointer;
    display: flex;
    gap: 50px;
}

header.emp-adress{
    color: red
}
.edit-btn{

   padding: 10px;
   width: 50%;
   border-radius: 10px;
   background-color: navy;
   border: 1px #ddd;
   font-weight: 600;
   font-size: small;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: whitesmoke;
   cursor: pointer;

}

.delete-btn{
     padding: 10px;
   width: 50%;
   border-radius: 10px;
   background-color: navy;
   border: 1px #ddd;
   font-weight: 600;
   font-size: small;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: whitesmoke;
   cursor: pointer;

}
.edit-btn:hover{
     background-color: #0d0647;
    color: rgb(187, 187, 187);

}
.delete-btn:hover{
    background-color: #0d0647;
    color: rgb(187, 187, 187);
}



